<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Address </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/address/address-edit/0">Address create</a>
                        <a ngbDropdownItem routerLink="/address/address-listing">Address listing</a>
                    </div>
                </li>
                
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Permission </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/permission/permission-listing">Permission listing</a>
                        <a ngbDropdownItem routerLink="/permission/permission-edit/0">Permission create</a>
                    </div>
                </li>
                
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Profile </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/profile/profile-admin-edit/0">Profile create</a>
                        <a ngbDropdownItem routerLink="/profile/profile-listing">Profile listing</a>
                        <a ngbDropdownItem routerLink="/profile/profile-user-edit/0">Profile create</a>
                    </div>
                </li>
                
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Role </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/role/role-listing">Role listing</a>
                        <a ngbDropdownItem routerLink="/role/role-edit/0">Role create</a>
                    </div>
                </li>
                
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Theme </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/theme/theme-listing">Theme listing</a>
                        <a ngbDropdownItem routerLink="/theme/theme-edit/0">Theme create</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


