<div>
    <h2>Theme</h2>
    <div>
        <button class="btn btn-primary" type="button" (click)="populateRandom()">Populate</button>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Save</button>
    </div>
    <form [formGroup]="!{ModelName}EditForm" (ngSubmit)="onSubmit()">
        <div class="row form-group">
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="id">Id</label>
                <input class="form-control" id="id" formControlName="id" type="number" />
            </div>
            <div class="col-md-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" formControlName="name" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}EditForm.get('name')?.invalid && (!{ModelName}EditForm.get('name')?.dirty || !{ModelName}EditForm.get('name')?.touched)">
                    <div *ngIf="!{ModelName}EditForm.get('name')?.errors?.['maxlength']">Name must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" formControlName="description" type="text" />
            </div>
        </div>
    </form>
</div>
