<div>
    <h2>Permission</h2>
    <div>
        <button class="btn btn-primary" type="button" (click)="populateRandom()">Populate</button>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Save</button>
    </div>
    <form [formGroup]="!{ModelName}EditForm" (ngSubmit)="onSubmit()">
        <div class="row form-group">
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="id">Id</label>
                <input class="form-control" id="id" formControlName="id" type="number" />
                <div class="alert alert-danger" *ngIf="!{ModelName}EditForm.get('id')?.invalid && (!{ModelName}EditForm.get('id')?.dirty || !{ModelName}EditForm.get('id')?.touched)">
                    <div *ngIf="!{ModelName}EditForm.get('id')?.errors?.['maxlength']">Id must be 10 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="code">Code</label>
                <input class="form-control" id="code" formControlName="code" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}EditForm.get('code')?.invalid && (!{ModelName}EditForm.get('code')?.dirty || !{ModelName}EditForm.get('code')?.touched)">
                    <div *ngIf="!{ModelName}EditForm.get('code')?.errors?.['maxlength']">Code must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" formControlName="description" type="text" />
            </div>
        </div>
    </form>
</div>
