@Model XCTE.Web.View.Address

<form>
  <input type="number" name="id" value="model.id" />
  <input type="text" name="street1" value="model.street1" />
  <input type="text" name="street2" value="model.street2" />
  <input type="text" name="city" value="model.city" />
  <input type="text" name="state" value="model.state" />
  <input type="text" name="country" value="model.country" />
  <input type="text" name="zipCode" value="model.zipCode" />
</form>
