<div>
    <h2>Permission</h2>
    <form [formGroup]="!{ModelName}ViewForm">
        <div class="row form-group">
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="id">Id</label>
                <input class="form-control" id="id" formControlName="id" type="number" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('id')?.invalid && (!{ModelName}ViewForm.get('id')?.dirty || !{ModelName}ViewForm.get('id')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('id')?.errors?.['maxlength']">Id must be 10 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="code">Code</label>
                <input class="form-control" id="code" formControlName="code" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('code')?.invalid && (!{ModelName}ViewForm.get('code')?.dirty || !{ModelName}ViewForm.get('code')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('code')?.errors?.['maxlength']">Code must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="description">Description</label>
                <input class="form-control" id="description" formControlName="description" type="text" />
            </div>
        </div>
    </form>
</div>
