<div>
    <h2>Profile user</h2>
    <form [formGroup]="!{ModelName}ViewForm">
        <div class="row form-group">
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="id">Id</label>
                <input class="form-control" id="id" formControlName="id" type="number" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="form-label" for="firstName">First name</label>
                <input class="form-control" id="firstName" formControlName="firstName" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('firstName')?.invalid && (!{ModelName}ViewForm.get('firstName')?.dirty || !{ModelName}ViewForm.get('firstName')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('firstName')?.errors?.['required']">First name is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('firstName')?.errors?.['maxlength']">First name must be 255 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="lastName">Last name</label>
                <input class="form-control" id="lastName" formControlName="lastName" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('lastName')?.invalid && (!{ModelName}ViewForm.get('lastName')?.dirty || !{ModelName}ViewForm.get('lastName')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('lastName')?.errors?.['required']">Last name is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('lastName')?.errors?.['maxlength']">Last name must be 255 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" id="email" formControlName="email" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('email')?.invalid && (!{ModelName}ViewForm.get('email')?.dirty || !{ModelName}ViewForm.get('email')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('email')?.errors?.['maxlength']">Email must be 255 characters or less</div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label class="form-label" for="createdDate">Created date</label>
                <input class="form-control" id="createdDate" formControlName="createdDate" type="datetime-local" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('createdDate')?.invalid && (!{ModelName}ViewForm.get('createdDate')?.dirty || !{ModelName}ViewForm.get('createdDate')?.touched)"></div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="lastLoginDate">Last login date</label>
                <input class="form-control" id="lastLoginDate" formControlName="lastLoginDate" type="datetime-local" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('lastLoginDate')?.invalid && (!{ModelName}ViewForm.get('lastLoginDate')?.dirty || !{ModelName}ViewForm.get('lastLoginDate')?.touched)"></div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="themeId">Themeid</label>
                <select class="form-select" id="themeId" formControlName="themeId"></select>
            </div>
        </div>
        <fieldset class="row form-group" formGroupName="mailingAddress">
            <legend>Mailing address</legend>
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="mailingAddress-id">Id</label>
                <input class="form-control" id="mailingAddress-id" formControlName="id" type="number" />
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-street1">Street 1</label>
                <input class="form-control" id="mailingAddress-street1" formControlName="street1" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('street1')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('street1')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('street1')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('street1')?.errors?.['required']">Street 1 is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('street1')?.errors?.['maxlength']">Street 1 must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-street2">Street 2</label>
                <input class="form-control" id="mailingAddress-street2" formControlName="street2" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('street2')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('street2')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('street2')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('street2')?.errors?.['maxlength']">Street 2 must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-city">City</label>
                <input class="form-control" id="mailingAddress-city" formControlName="city" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('city')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('city')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('city')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('city')?.errors?.['required']">City is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('city')?.errors?.['maxlength']">City must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-state">State</label>
                <input class="form-control" id="mailingAddress-state" formControlName="state" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('state')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('state')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('state')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('state')?.errors?.['required']">State is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('state')?.errors?.['maxlength']">State must be 2 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-country">Country</label>
                <input class="form-control" id="mailingAddress-country" formControlName="country" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('country')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('country')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('country')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('country')?.errors?.['required']">Country is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('country')?.errors?.['maxlength']">Country must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-zipCode">Zip code</label>
                <input class="form-control" id="mailingAddress-zipCode" formControlName="zipCode" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('zipCode')?.invalid && (!{ModelName}ViewForm.get('mailingAddress')?.get('zipCode')?.dirty || !{ModelName}ViewForm.get('mailingAddress')?.get('zipCode')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('zipCode')?.errors?.['required']">Zip code is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('mailingAddress')?.get('zipCode')?.errors?.['maxlength']">Zip code must be 20 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="mailingAddress-active">Active</label>
                <input class="form-check-input" id="mailingAddress-active" formControlName="active" type="checkbox" />
            </div>
        </fieldset>
        <div class="row form-group"></div>
        <fieldset class="row form-group" formGroupName="physicalAddress">
            <legend>Physical address</legend>
            <div class="col-md-3 visually-hidden">
                <label class="form-label" for="physicalAddress-id">Id</label>
                <input class="form-control" id="physicalAddress-id" formControlName="id" type="number" />
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-street1">Street 1</label>
                <input class="form-control" id="physicalAddress-street1" formControlName="street1" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('street1')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('street1')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('street1')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('street1')?.errors?.['required']">Street 1 is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('street1')?.errors?.['maxlength']">Street 1 must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-street2">Street 2</label>
                <input class="form-control" id="physicalAddress-street2" formControlName="street2" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('street2')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('street2')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('street2')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('street2')?.errors?.['maxlength']">Street 2 must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-city">City</label>
                <input class="form-control" id="physicalAddress-city" formControlName="city" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('city')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('city')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('city')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('city')?.errors?.['required']">City is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('city')?.errors?.['maxlength']">City must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-state">State</label>
                <input class="form-control" id="physicalAddress-state" formControlName="state" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('state')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('state')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('state')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('state')?.errors?.['required']">State is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('state')?.errors?.['maxlength']">State must be 2 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-country">Country</label>
                <input class="form-control" id="physicalAddress-country" formControlName="country" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('country')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('country')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('country')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('country')?.errors?.['required']">Country is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('country')?.errors?.['maxlength']">Country must be 50 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-zipCode">Zip code</label>
                <input class="form-control" id="physicalAddress-zipCode" formControlName="zipCode" type="text" />
                <div class="alert alert-danger" *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('zipCode')?.invalid && (!{ModelName}ViewForm.get('physicalAddress')?.get('zipCode')?.dirty || !{ModelName}ViewForm.get('physicalAddress')?.get('zipCode')?.touched)">
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('zipCode')?.errors?.['required']">Zip code is required</div>
                    <div *ngIf="!{ModelName}ViewForm.get('physicalAddress')?.get('zipCode')?.errors?.['maxlength']">Zip code must be 20 characters or less</div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="form-label" for="physicalAddress-active">Active</label>
                <input class="form-check-input" id="physicalAddress-active" formControlName="active" type="checkbox" />
            </div>
        </fieldset>
        <div class="row form-group"></div>
    </form>
</div>
