<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav">
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Entity </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/entity/entity-edit/0">Entity create</a>
                    </div>
                </li>
                
                <li class="nav-item" ngbDropdown>
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Stat </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                        <a ngbDropdownItem routerLink="/stat/stat-edit/0">Stat create</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


